<header class="section1_cabecalho">
    <nav class="section1_cabecalho_menu">
        <div class="section1_cabecalho_menu_logo">
            <a class="section1_cabecalho_menu_logo_e_nome" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/ICON - 1.png') }}" alt="Icone" class="section1_cabecalho_menu_logo_e_nome_icone">
                <h1 class="section1_cabecalho_menu_logo_e_nome_nome">BipStation</h1>
            </a>
        </div>

        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="section1_cabecalho_menu_link" id="menuLinks">
            <a href="{{ url_for('index') }}" class="section1_cabecalho_menu_link_link">Início</a>
            <a href="#equipe" class="section1_cabecalho_menu_link_link">Equipe</a>
            <a href="#metodologia" class="section1_cabecalho_menu_link_link">Metodologia</a>
            <a href="#depoimentos" class="section1_cabecalho_menu_link_link">Depoimentos</a>
            <a href="#servicos" class="section1_cabecalho_menu_link_link">Serviços</a>
            <a href="#parceiros" class="section1_cabecalho_menu_link_link">Parceiros</a>
            <a href="#contatos" class="section1_cabecalho_menu_link_link">Contatos</a>
        </div>
    </nav>
</header>