<section class="section5">
    <h1 class="titulo_servico_5" id="servicos">Nossos Serviços</h1>
    <div class="quadros">
        <div class="items">
            <div class="sub_div">
                <h2 class="titulo">Gestão de Tráfego</h2>
                <img class='icons' src="{{ url_for('static', filename='icons/icons8-foguete-40.png') }}" alt="primeiro_icone">
            </div>
            <p class="paragrafo">Na BiP Station, somos especialistas em Gestão de Tráfego. 
                Utilizamos estratégias avançadas de SEO, análise de dados e campanhas pagas para aumentar a 
                visibilidade online da sua empresa e atrair o público certo.
                Com nossa expertise, garantimos que sua marca seja vista e reconhecida no mundo digital.</p>
        </div>
        <div class="items">
            <div class="sub_div">
                <h2 class="titulo">Consultoria</h2>
                <img class='icons' src="{{ url_for('static', filename='icons/icons8-telefone-40.png') }}" alt="segundo_icone">
            </div>
            <p class="paragrafo">Oferecemos consultorias
                personalizadas para
                ajudar sua empresa a
                alcançar seus objetivos
                de marketing digital.
                Nossa equipe de
                especialistas trabalha em
                parceria com você para
                identificar oportunidades
                de crescimento e
                desenvolver estratégias
                eficazes que
                impulsionem seus
                resultados</p>
        </div>

        <div class="items">
            <div class="sub_div">
                <h2 class="titulo">Marketing de Conteúdo</h2>
                <img class='icons' src="{{ url_for('static', filename='icons/icons8-gráfico-combinado-40.png') }}" alt="terceiro_icone">
            </div>
            <p class="paragrafo">O Marketing de Conteúdo
                é uma das nossas
                especialidades. Criamos
                conteúdos relevantes e
                envolventes que
                capturam a atenção do
                seu público e geram
                engajamento. Com nossa
                abordagem, sua empresa
                se torna uma referência
                no setor e atrai clientes
                fiéis.</p>
        </div>

        <div class="items">  
            <div class="sub_div">
                <h2 class="titulo">Estudo de funil</h2>
                <img class='icons' src="{{ url_for('static', filename='icons/icons8-alvo-40.png') }}" alt="quarto_icone">
            </div>
            <p class="paragrafo">Entender o comportamento
                do seu público é essencial
                para o sucesso das suas
                campanhas. Na BiP Station,
                realizamos estudos de funil
                detalhados para mapear a
                jornada do cliente e
                identificar pontos de
                melhoria. Com esses
                insights, otimizamos suas
                estratégias e aumentamos
                as conversões.</p>
        </div>
    </div>
</section>