<section class="section2">
    <div class="section2_titulo" id="equipe">
        <h2>NOSSA EQUIPE</h2>
    </div>
    <div class="carousel_sc2">
        <div class="funcio_00 active">
            <div class="img_profile">
                <div class="carousel_sc2_fotos_equipe">
                    <img src="{{ url_for('static', filename='assets/Welington Diniz - COO e Gestor de Tráfego@2x.png') }}" alt="Welington">
                    <h3>WELINGTON DINIZ - COO e Gestor de Tráfego</h3>
                </div>
            </div>
        </div>

        <div class="funcio_00">
            <div class="img_profile">
                <div class="carousel_sc2_fotos_equipe">
                    <img src="{{ url_for('static', filename='assets/Ruan Barbosa - CEO e Estrategista Digital@2x.png') }}" alt="Outro Funcionário">
                    <h3>RUAN BARBOSA - CEO e Estrategista Digital</h3>
                </div>
            </div>
        </div>

        <div class="info_user">
            <p>Por trás da BiP Station, há um time apaixonado por marketing digital, focado em transformar cliques em clientes.<br><br> Unimos estratégia,
                criatividade e tecnologia para aumentar sua visibilidade online e impulsionar seu negócio.<br><br> Estamos aqui para fazer sua empresa crescer. <br>Vamos juntos? 🚀</p>
        </div>
    </div>
</section>
