<section class="session_6" id="parceiros"> 
    <div class="session_6_texto">
        <h4 class="session_6_texto_titulo">Parceiros</h4>
    </div>
</section>
<section class="session6_parceiros">
    <div class="session_6_parceiros_div">
        <div class="session_6_parceiros_foto">
            <div class="border-effect"></div> <!-- Nova div para o efeito da borda -->
            <img src="{{ url_for('static', filename='img/Mimosa.png') }}" class="session6_img">
            <div class="session6_texto_imagens">
                <h4>Mimosa FC</h4>
                <p>Uma parceria que traz o melhor do café artesanal para os seus momentos especiais.</p>
            </div>
        </div>
        <div class="session_6_parceiros_foto">
            <img src="{{ url_for('static', filename='img/Padoca.png') }}" class="session6_img">
            <div class="session6_texto_imagens">
                <h4>Padoca</h4>
                <p>Uma colaboração que une tradição e qualidade, com pães fresquinhos e deliciosos para tornar seus dias ainda mais saborosos.</p>
            </div>
        </div>
    </div>        
</section>